<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>pages</mat-icon>
  </button>
  <span>MYN App</span>
  <span class="example-spacer"></span>

    <button mat-raised-button mat-button color="success" (click)="openDialog()">Add Note</button>


</mat-toolbar>

<div class="container">
  <div style="margin: 20px">
    <mat-card *ngFor="let data of obs | async">
      <mat-card-subtitle>ID:{{data.noteId}}</mat-card-subtitle>
      <mat-card-title>{{data.noteTitle}}</mat-card-title>
      <hr/>
      <mat-card-content><h4>{{data.noteDescription}}</h4></mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button mat-icon-button color="primary" (click)="editOpenDialog(data)"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button mat-icon-button color="warn" (click)="deleteNoteAlertDialog(data.noteId)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>